CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm_k3=y
CONFIG_ASTERISK_LIBXSLT_SUPPORT=y
CONFIG_ASTERISK_LOW_MEMORY=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_JSON_OVERVIEW_IMAGE_INFO is not set
# CONFIG_KERNEL_DEVMEM is not set
CONFIG_PACKAGE_6in4=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA is not set
CONFIG_PACKAGE_asterisk=y
CONFIG_PACKAGE_asterisk-app-confbridge=y
CONFIG_PACKAGE_asterisk-bridge-builtin-features=y
CONFIG_PACKAGE_asterisk-bridge-simple=y
CONFIG_PACKAGE_asterisk-bridge-softmix=y
CONFIG_PACKAGE_asterisk-chan-sip=y
CONFIG_PACKAGE_asterisk-codec-alaw=y
CONFIG_PACKAGE_asterisk-codec-g722=y
CONFIG_PACKAGE_asterisk-codec-g729=y
CONFIG_PACKAGE_asterisk-codec-gsm=y
CONFIG_PACKAGE_asterisk-codec-ulaw=y
CONFIG_PACKAGE_asterisk-format-wav=y
CONFIG_PACKAGE_asterisk-res-musiconhold=y
CONFIG_PACKAGE_asterisk-res-pjproject=y
CONFIG_PACKAGE_asterisk-res-rtp-asterisk=y
CONFIG_PACKAGE_asterisk-res-sorcery=y
# CONFIG_PACKAGE_block-mount is not set
# CONFIG_PACKAGE_brcmfmac-firmware-usb is not set
# CONFIG_PACKAGE_coremark is not set
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_hostapd-common is not set
CONFIG_PACKAGE_ipv6helper=y
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_iwinfo is not set
# CONFIG_PACKAGE_k3screenctrl is not set
# CONFIG_PACKAGE_k3wifi is not set
# CONFIG_PACKAGE_kmod-brcmfmac is not set
# CONFIG_PACKAGE_kmod-brcmutil is not set
# CONFIG_PACKAGE_kmod-cfg80211 is not set
# CONFIG_PACKAGE_kmod-ipt-offload is not set
# CONFIG_PACKAGE_kmod-leds-gpio is not set
# CONFIG_PACKAGE_kmod-phy-bcm-ns-usb2 is not set
# CONFIG_PACKAGE_kmod-phy-bcm-ns-usb3 is not set
# CONFIG_PACKAGE_kmod-tcp-bbr is not set
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
CONFIG_PACKAGE_luci-app-msd_lite=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-socat=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_DNS2SOCKS is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Hysteria=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_MosDNS is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-turboacc is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_tailscale=y
# CONFIG_PACKAGE_wireless-regdb is not set
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_PACKAGE_xupnpd=y
