CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_glinet_gl-mt300n-v2=y
CONFIG_ASTERISK_LIBXSLT_SUPPORT=y
CONFIG_ASTERISK_LOW_MEMORY=y
# CONFIG_JSON_OVERVIEW_IMAGE_INFO is not set
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_asterisk=y
CONFIG_PACKAGE_asterisk-app-confbridge=y
CONFIG_PACKAGE_asterisk-bridge-builtin-features=y
CONFIG_PACKAGE_asterisk-bridge-simple=y
CONFIG_PACKAGE_asterisk-bridge-softmix=y
CONFIG_PACKAGE_asterisk-chan-sip=y
CONFIG_PACKAGE_asterisk-codec-alaw=y
CONFIG_PACKAGE_asterisk-codec-g722=y
CONFIG_PACKAGE_asterisk-codec-g729=y
CONFIG_PACKAGE_asterisk-codec-gsm=y
CONFIG_PACKAGE_asterisk-codec-opus=y
CONFIG_PACKAGE_asterisk-codec-ulaw=y
CONFIG_PACKAGE_asterisk-format-wav=y
CONFIG_PACKAGE_asterisk-res-musiconhold=y
CONFIG_PACKAGE_asterisk-res-pjproject=y
CONFIG_PACKAGE_asterisk-res-rtp-asterisk=y
CONFIG_PACKAGE_asterisk-res-sorcery=y
CONFIG_PACKAGE_asterisk-res-stun-monitor=y
# CONFIG_PACKAGE_block-mount is not set
# CONFIG_PACKAGE_coremark is not set
CONFIG_PACKAGE_coturn=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ipv6helper=y
# CONFIG_PACKAGE_kmod-ipt-offload is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# CONFIG_PACKAGE_kmod-nf-flow is not set
# CONFIG_PACKAGE_kmod-tcp-bbr is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-turboacc is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-lib-fs is not set
CONFIG_PACKAGE_luci-theme-material=y
# CONFIG_PACKAGE_nlbwmon is not set
# CONFIG_PACKAGE_pdnsd-alt is not set
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_CM is not set
